
@charset "UTF-8";

.btn_change {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 0;
    margin-left: -1px;
    margin-bottom: 0;
    display: table-cell;
    float: none;
    width: 1%;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 190px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 8px;
    font-family: 'Malgun Gothic', dotum, '����', sans-serif;
    line-height: 1.4;
}
.wrap .info {
    width: 200px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
    font-size: 6px;
}
.wrap * {
    padding: 0;
    margin: 0;
}
.area-name{
    font-size:17px;
    font-weight: bold;
}
.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 13px;
    height: 13px;
    background-image: url(/resources/image/stats/fixed_overlay_close.png);
}
.info .body {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    height: 100px;
    margin-right: 10px;
}
.info .desc {
    position: relative;
    height: 75px;
}
.table-category{
    font-size: 1.25rem;
}
.table-hover{
    font-size: 1.3rem;
}
.body-content{
    font-size: 1.20rem;
}
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    background-color: #ffffff;
    background: #fff;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}
th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
/* 상단 메뉴의 브랜드 이름 위치를 center로 변경 */
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    display: inline-block;
    float:none;
}
.btn {cursor:pointer;}

body, html {height: 100%;}


#mapwrap {height: 100%;}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}
.info {
    font-size: 12px;
    padding: 5px;
}
.info .title {
    font-weight: bold;
}