
	body{
		padding : 0;margin : 0;
	}
	 
	ul{
		margin:0;
		padding:0;
	}

	.jbFixed {
        position: fixed;
        top: 0px;
      }
      
	 #main_wrap{
	 	margin-top:72px;
	 	min-width:700px;
	 }
	#mainNavi{
		width : 40px; height:40px;
		margin-left:10px; margin-top:2px;float:left;
	}
	

	#btnGroupDrop3{
		width:15px; height:15px;left:63.8%;top:13.5px;position:absolute;
	}
	
	#main_wrap{
		width:100%;
	}
	
	#main_left_wrap{
		width : 20%;float:left;
		
	}
	
	#main_center_wrap{
		width:45%;float:left;
		margin-right : 20px;
		margin-top : 10px;
	}
	
	.component{
		margin-top:10px;
		margin-botton:10px;
	}
	
	#main_right_wrap{
		width:28%;float:left;
		margin-left : 20px;
	}
	
	#detail_search{
		margin-top: 50px;
		position: absolute;
		right: -140px;
		width:250px; height:150px;
		border:2px solid #EAF0F2;
		border-radius:10px;
		display:none;
		background: #ffffff;
	}
	
	#dateSelect{
		width:100%; height:50px;
	}
	
	#zoneSelect{
		width:100%; height:50px;
	}
	
	#selelctTable1{
		width:90%;margin-top:5px;
	}
	
	.tableHead1, .tableHead2{
		text-align:center;
	}
	
	.form-control{
		width : 100%; height:44px;
	}
	
	#selelctTable2{
		width:90%;
	}
	
	#btnTable{
		margin:0 auto;
	}
	
	#search, #close{
		width:90px; height:40px;
	}
	
	#hot_topic{
		width:400px;
		border : 5px solid #EAF0F2;
		border-radius:10px;
		margin-top:20px;
		text-align:center;
	}
	
	#hot_topic_title{
		border-bottom:1px solid #5AA2AE;
		border-bottom-style:dotted;
		margin-right:10px; margin-left:10px;
		margin-top:5px;margin-bottom:5px;
		padding-bottom:5px;
	}
	
	#topics{
		text-align:left;
		padding-left:10px; padding-right:10px;
		margin-top:5px;margin-bottom:5px;
	}
	
	#topic1, #topic2, #topic3, #topic3, #topic4, #topic5, #topic6, #topic7, #topic8, #topic9, #topic10{
		margin-bottom:3px; margin-top:3px;
	}
	
	.component{
		width:100%;
		border : 1px solid #EAF0F2;
		background-color:#ffffff;
		border-radius:3px;
	}
	
	.component_body ul li{
		list-style:none;
		margin: 0px 20px 10px 20px;
	}
	
	.component_header{
		padding-top : 16px;
		border-bottom:1px dotted #5AA2AE;
		padding-bottom : 16px;
		padding: 30px 30px;
	}
	
	#footer{
		text-align : center;
		border-top : 1px dotted #5AA2AE;
		padding-top : 16px;
	}
	
	
	#footer > li{
		display : inline;
		padding-top : 17px;
		list-style : none;
		width : 100%;
	}
	
	#footer > li button{
		width : 40%;text-align :  center;
		margin-left : 5px;
		margin-right : 5px;
	}
	
	
	
	.articleImg , .districtImg{
		padding-top : 16px;padding-bottom : 16px;
		text-align : center;
	}
	
	.articleImgSize{
		width:90%;
		height:auto;
		text-align:center;
	}
	
	.districtImg{
		display : none;
	}
	
	/* .img{
		padding-top : 16px;padding-bottom : 16px;
		display : none;text-align : center;
	} */
	
	.head_tb{
		margin-left : 10px;
	}
	
	.head_tb tr th{
		font-size:30px; width : 50%;
	 text-align: left;
     padding: 0 0 0 30px;
	}
	
	