@charset "utf-8";

body {
margin:0;
padding:0;
font-family:'Nanum Gothic', sans-serif;
font-size:14px;
color:#222;
line-height:160%;
letter-spacing:0.5px;

}

a {color:#222;text-decoration:none}

.centerbox {
	padding-left: 85px;
  max-width: 1600px;
  margin: 0 auto;
}

.listbox {
  width: 30%;
  margin: 1.55%;
  padding: 0;
  float: left;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.listbox:hover {
  border: 1px solid #333;
}

@media (max-width: 1020px) {
  .listbox {
    width: 47%;
  }
	.menu{
		width: 47%;
	}
}

@media (max-width: 660px) {
  .listbox {
    width: 97%;
  }
	.menu{
		width: 97%;
	}
}

.listboxIMG {
  width: 97%;
  text-align: center;
  padding: 7px 0;
  margin: 0 0 5px 4px;
  border-bottom: 1px solid #DDDDDD;
}

.listboxIMG-i {
  border: 0;
  width: 97%;
  cursor:pointer
}

.listboxTEXT {
  width: 97%;
  padding: 5px;
  margin: 0 0 5px 4px;
}

.listboxCLICK {
  display: block;
  border: 1px solid #DDDDDD;
  background-color: #D3D3D3;
  padding: 10px 0px;
  margin: 7px;
  font-size: 19px;
  text-align: center;
  font-weight: 800;
  cursor:pointer
}

.listboxCLICK:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.redicon {
  font-size:11px;
  color: #FFFFFF;
  background-color: #E42B00;
  margin: 0;
  padding: 1px 3px;
}

.blueicon {
  font-size:11px;
  color: #FFFFFF;
  background-color: #0069D9;
  margin: 0;
  padding: 1px 3px;
}

.greenicon {
  font-size:11px;
  color: #FFFFFF;
  background-color: #32AF00;
  margin: 0;
  padding: 1px 3px;
}

.pointicon {
  font-size:11px;
  color: #FFFFFF;
  background-color: #384B63;
  margin: 0;
  padding: 1px 3px;
}  
#side {
	margin-top:0;
}
