<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antybeety.news.mybatis.KeywordMapper">

    <resultMap id="keyword_map" type="com.antybeety.news.model.vo.KeywordVO">
        <id property="code" column="ke_code"/>
        <id property="name" column="ke_name"/>
    </resultMap>

    <insert id="addKeyword" parameterType="com.antybeety.news.model.vo.KeywordVO" >
        INSERT INTO keyword_tb(ke_code, ke_name) VALUES (#{code},#{name});
    </insert>
    <insert id="addKeywordPivot" parameterType="hashmap">
        INSERT INTO article_key_tb(ke_code,ar_code) VALUES (#{ke_code},#{ar_code});
    </insert>

    <select id="searchCode"  resultType="java.lang.String">
        SELECT ke_code FROM keyword_tb WHERE ke_code like CONCAT('%',#{code},'%') ORDER BY (ke_code) desc limit 1
    </select>
    
    <select id="searchCodeByName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT ke_code FROM keyword_tb WHERE ke_name=#{name}
    </select>

    <select id="searchTopKeywords" resultType="java.lang.String">
        SELECT ke_name, SUM(view_cnt) AS view_cnt FROM keyword_tb AS SUB1
        JOIN(SELECT ke_code, ar_code FROM article_key_tb) AS SUB2
        ON(SUB1.ke_code = SUB2.ke_code)
        INNER JOIN(SELECT ar_code, view_cnt AS view_cnt FROM article_tb) AS SUB3
        ON(SUB2.ar_code = SUB3.ar_code)
        GROUP BY(ke_name)
        ORDER BY view_cnt DESC
        limit #{limit};
    </select>

    <delete id="deleteKeyword" parameterType="java.lang.String">
        DELETE FROM article_key_tb WHERE ke_code=#{code}
    </delete>
    <delete id="cutKeywordBtwArticle" parameterType="hashmap">
        DELETE FROM article_key_tb WHERE ke_code=#{keCode} AND ar_code=#{arCode};
    </delete>
    <delete id="cutAllKeywordBtwArticle" parameterType="java.lang.String">
        DELETE FROM article_key_tb WHERE ar_code=#{arCode};
    </delete>
 <!--   <select id="searchArticleInfo" resultMap="article_map">&lt;!&ndash;인터페이스 메서드랑 id랑 이름 같아야함&ndash;&gt;
        SELECT * FROM article_view2 where ar_code= #{code}
    </select>

    <select id="searchAllArticles" resultMap="article_map">
        SELECT * FROM article_view2
    </select>

    <select id="searchArticleTimeByCode" resultType="java.lang.String">
        SELECT ar_time FROM article_view2 where ar_code= #{code}
    </select>
    <select id="searchBeforeArticlesByTime" resultMap="article_map" parameterType="hashmap">
        SELECT * FROM article_view2 WHERE ar_time &lt; #{time} ORDER BY ar_time DESC LIMIT ${limit}
    </select>
    <select id="searchArticleByFilter" resultMap="article_map" parameterType="hashmap">
        SELECT * FROM article_view2 WHERE (title like '%${searchWord}%' OR keyword_array like '%${searchWord}%' ) AND ar_time &lt; #{startTime}  AND ar_time &gt;= #{lastTime} ORDER BY ar_time desc limit ${limit}
    </select>
    <select id="searchArticleByFilterDistrict" resultMap="article_map" parameterType="hashmap">
        SELECT * FROM article_view2 WHERE (title like '%${searchWord}%' OR keyword_array like '%${searchWord}%' ) AND di_name=#{district} AND ar_time &lt; #{startTime}  AND ar_time &gt;= #{lastTime} ORDER BY ar_time desc limit ${limit}
    </select>
    <select id="searchLastDate" resultType="java.lang.String">
        SELECT ar_code FROM article_view2 ORDER BY(ar_time) DESC limit 1
    </select>-->
<!--
    <select id="getAllMembers" resultType="com.example.springmybatis1.vo.Member" >   /*끌어다놓고쓰기*/
        SELECT  <include refid="member_columns" />
        FROM member_tx;
    </select>

    <select id="getAllMembers2" resultMap="member_map" >   /*끌어다놓고쓰기*/
        SELECT  <include refid="member_columns" />
        FROM member_tx;
    </select>
-->

<!--    <delete id="deleteMember" parameterType="java.lang.String">
        DELETE FROM member_tx WHERE id=#{id}
    </delete>

    <update id="updateMember" parameterType="hashmap">
        UPDATE member_tx SET pwd=#{pwd}, name=#{name} WHERE id=#{id}
    </update>-->
<!--    <insert id="insertMember" parameterType="com.antybeety.news.vo.ArticleInfoVO">
        INSERT INTO member(id, password, name) VALUES(#{id}, #{pwd}, #{name})
                                ^^^^^^^ 파라미터 넣어줄 때 해시맵 키로 얠 넣어주면댐
    </insert>-->
</mapper>